@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&subset=latin-ext');
@media only screen {
  html, body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    color: #222;
  }
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 15px 0;
    z-index: 1;
    background: white;
    background: url(../images/b8.png);
    -webkit-transition: padding .3s linear;
    transition: padding .3s linear;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .main-menu__list--mobile {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
  }
  .main-menu__item--mobile {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: right;
  }
  .main-menu__item--mobile:first-child {
    text-align: left;
  }
  .main-menu__item--mobile:last-child {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .main-menu__anchor {
    text-decoration: none;
    color: #3e4042;
    padding: 4px 16px;
    border-radius: 15px;
    border: 1px solid transparent;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-weight: 500;
  }
  .main-menu__icon {
    position: relative;
    display: block;
    width: 50px;
    height: 28px;
    cursor: pointer;
    float: right;
  }
  .main-menu__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 8px;
    left: 17px;
    -webkit-box-shadow: 0 0px 0 1px #000, 0 6px 0 1px #000, 0 12px 0 1px #000;
    box-shadow: 0 0px 0 1px #000, 0 6px 0 1px #000, 0 12px 0 1px #000;
  }
  .mobile-menu__icon {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobile-menu__icon:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 32px;
    top: 9px;
    left: 17px;
    -webkit-box-shadow: 0 -8px 0 1px #fff;
    box-shadow: 0 -8px 0 1px #fff;
  }
  .mobile-menu__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 0;
    top: 19px;
    left: 9px;
    -webkit-box-shadow: -8px -2px 0 1px #fff;
    box-shadow: -8px -2px 0 1px #fff;
  }
  .main-menu__anchor:hover {
    border: 1px solid transparent;
    background: #3e4042;
    color: white;
  }
  .main-menu__anchor--active, .main-menu__anchor:focus {
    border: 1px solid #3e4042;
  }
  .main-menu--on-top {
    background: transparent;
    padding: 30px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main-menu--on-top .main-menu__anchor {
    color: white;
  }
  .main-menu--on-top .main-menu__anchor--active, .main-menu--on-top .main-menu__anchor:focus {
    border: 1px solid white;
  }
  .main-menu--on-top .main-menu__anchor:hover {
    background: white;
    color: #3e4042;
  }
  .main-menu--on-top .main-menu__span {
    color: white;
  }
  .main-menu--on-top .main-menu__icon:after {
    -webkit-box-shadow: 0 0px 0 1px #fff, 0 6px 0 1px #fff, 0 12px 0 1px #fff;
    box-shadow: 0 0px 0 1px #fff, 0 6px 0 1px #fff, 0 12px 0 1px #fff;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: white;
    background: url(../images/b8.png);
  }
  .mobile-menu {
    min-height: 100vh;
    background: rgba(51, 51, 51, 0.96);
    z-index: 5;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-menu__list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .mobile-menu__item {
    margin: 0 auto;
  }
  .mobile-menu__anchor {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .main-menu__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main-menu__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
  .main-menu__span {
    font-weight: 300;
    font-size: 1.65em;
    color: #3e4042;
    padding: 0 20px;
    display: inline-block;
  }
  .main-slider__button {
    text-decoration: none;
    color: white;
    margin-top: 16px;
    padding: 10px 24px;
    border: 2px solid white;
    border-radius: 22px;
    font-weight: 500;
    font-size: 18px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .main-slider__button:hover {
    background: white;
    color: #3e4042;
  }
  .main-slider__heading {
    color: white;
    font-weight: 400;
    margin: 0.5em 0;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }
  .main-slider__desc {
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  .main-slider__heading span {
    font-weight: 500;
  }
  .main-menu__span span {
    font-weight: 400;
    margin-left: -2.5px;
    margin-right: 2.5px;
  }
  .main-slider {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*background: #7b4397;
    background: -webkit-gradient(linear, left top, right top, from(#dc2430), to(#7b4397));
    background: linear-gradient(to right, #dc2430, #7b4397);*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.40)), color-stop(200%, rgba(0, 0, 0, 0.25)));
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;*/
    /*background-image: -webkit-gradient(linear, left bottom, left top, from(#1e3c72), color-stop(1%, #1e3c72), to(#2a5298));
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
    background: #232526;
    background: -webkit-gradient(linear, left top, left bottom, from(#414345), to(#232526));
    background: linear-gradient(to bottom, #414345, #232526);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
  .none {
    display: none;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__heading {
    font-weight: 400;
    text-align: center;
    padding: 1em;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    margin: auto;
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1280px;
  }
  .skills__article {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    padding: 0 2em 1.17em;
    text-align: center;
  }
  .article__heading {
    font-weight: 400;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }
  .article__paragraph {
    min-width: 160px;
    max-width: 215px;
    margin: 1em auto;
    text-align: center;
  }
  .article__heading {
    font-size: 1.5em;
  }
  .article__icon {
    width: 72px;
    height: 72px;
  }
  .article__icon--csharp {
    width: 78px;
    height: 78px;
    margin-top: -6px;
  }
  .section__heading {
    font-size: 1.95em;
  }
}

@media only screen and (min-width: 592px) {
  .section__heading {
    font-size: 1.56em;
  }
}

@media only screen and (min-width: 856px) {
  .section__heading {
    font-size: 1.25em;
  }
  .article__icon {
    width: 72px;
    height: 72px;
  }
  .article__icon--csharp {
    width: 78px;
    height: 78px;
    margin-top: -6px;
  }
}

@media only screen and (min-width: 960px) {
  .main-menu__list--mobile {
    display: none;
  }
}

@media (min-height: 350px) {
  .mobile-menu__item {
    margin: 10px auto;
  }
  .mobile-menu__icon {
    width: 50px;
    height: 50px;
  }
  .mobile-menu__icon:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 32px;
    top: 9px;
    left: 17px;
    -webkit-box-shadow: 8px 0px 0 1px #fff;
    box-shadow: 8px 0px 0 1px #fff;
  }
  .mobile-menu__icon:after {
    content: '';
    ;
    position: absolute;
    display: block;
    width: 32px;
    height: 0;
    top: 19px;
    left: 9px;
    -webkit-box-shadow: 0 6px 0 1px #fff;
    box-shadow: 0 6px 0 1px #fff;
  }
}

@media (min-height: 400px) {
  .mobile-menu__item {
    margin: 20px auto;
  }
}

@media (min-width: 1921px) {
  .main-slider__desc {
    font-size: 0.833333333vw;
  }
  .main-slider__heading {
    font-size: 1.66666667vw;
  }
  .main-slider__button {
    margin-top: 0.833333333vw;
    padding: 0.520833333vw 1.25vw;
    border: 0.104166667vw solid white;
    border-radius: 1.14583333vw;
    font-size: 0.9375vw;
  }
  .main-menu__span {
    font-size: 1.375vw;
    padding: 0 1.04166667vw;
  }
  .main-menu--on-top {
    padding: 1.5625vw 0;
  }
  .main-menu {
    padding: 0.78125vw 0;
  }
  .main-menu__anchor {
    padding: 0.208333333vw 0.833333333vw;
    border-radius: 0.78125vw;
    border: 0.0520833333vw solid transparent;
    font-size: 0.833333333vw;
  }
  .main-menu--on-top .main-menu__anchor--active, .main-menu--on-top .main-menu__anchor:focus {
    border: 0.0520833333vw solid white;
  }
  .main-menu__anchor:hover {
    border: 0.0520833333vw solid transparent;
  }
}
